<div>
    <h2 data-translate="libSupportApp.book.home.user-title">My Books</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th jh-sort-by="id" has-authority="ROLE_ADMIN"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span data-translate="libSupportApp.book.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="author"><span data-translate="libSupportApp.book.author">Author</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="numberOfPages"><span data-translate="libSupportApp.book.numberOfPages">Number Of Pages</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="isAvailable"><span data-translate="libSupportApp.book.isAvailable">Is Available</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="book in vm.books track by book.id">
                <td has-authority="ROLE_ADMIN"><a ui-sref="book-detail({id:book.id})">{{book.id}}</a></td>
                <td>{{book.name | limitTo : 50 : 0}}<span ng-if="book.name.length > 50">....</span></td>
                <td>{{book.author | limitTo : 20 : 0}}<span ng-if="book.author.length > 20">....</span></td>
                <td>{{book.numberOfPages}}</td>
                <td><span ng-if="book.isAvailable == true" class="glyphicon glyphicon-ok"></span>
                    <span ng-if="book.isAvailable == false" class="glyphicon glyphicon-remove"></span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="book-detail({id:book.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit" has-only-authority="ROLE_USER"
                                ui-sref="book-reservation.new({bookId: book.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-bookmark"></span>
                            <span class="hidden-xs hidden-sm" data-translate="libSupportApp.book.action.reservation"></span>
                        </button>
                        <button type="submit" has-only-authority="ROLE_USER"
                        ui-sref="feedback.new({bookId: book.id})"
                        class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs hidden-sm" data-translate="libSupportApp.book.action.feedback"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
