.alert-warning, .well {
    border-color: darkblue;
}

.modal-header, .navbar-default, .modal-content {
    border-bottom-color: #2B6EA1;
}

.close {
    color: #2B6EA1;
    opacity: 1;
}

.close:hover {
    transform: scale(1.3,1.3);
    color: #2c5e92;
    opacity: 1;
}

th, td, .title-center{
    text-align: center;
}

.glyphicon-star-empty {
    color: #1c74af;
    transform: scale(1.3,1.3);
}

.glyphicon-star {
    color: #fdee2a;
    transform: scale(1.6,1.6);
}

.glyphicon-star-empty, .glyphicon-star {
    margin-left: 10px;
}

.glyphicon-star-empty, .glyphicon-star :active {
    border: none;
}

.stars-error {
    color: red;
}

:focus {
    outline: 0 !important;
}
